@charset "UTF-8";

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// X 모양의 닫기 버튼
@mixin btn-close-x($size: 10px, $weight: 1px, $color: #333) {
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    height: $size;
    width: $weight;
    // margin: -$size/2 0 0 $weight;
    background-color: $color;
  }
  &:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@mixin dimned-opacity($value: 0.6) {
  background-color: rgba(17, 17, 17, $value);
  // backdrop-filter: blur(5px);
}

@mixin ico-arrow-right($size, $color, $weight: 1px) {
  content: '';
  width: $size;
  height: $size;
  border: 1px solid $color;
  border-width: $weight $weight 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@mixin ico-arrow-down($size, $color, $weight: 1px) {
  content: '';
  width: $size;
  height: $size;
  border: 1px solid $color;
  border-width: $weight $weight 0 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

@mixin separators-dot($width, $height, $color) {
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: $color;
}

@mixin size($value) {
  $width: nth($value, 1);
  $height: $width;

  @if length($value) > 1 {
    $height: nth($value, 2);
  }

  @if is-size($height) {
    height: $height;
  } @else {
    @warn "`#{$height}` is not a valid length for the `$height` parameter in the `size` mixin.";
  }

  @if is-size($width) {
    width: $width;
  } @else {
    @warn "`#{$width}` is not a valid length for the `$width` parameter in the `size` mixin.";
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin text-ellipsis-multiple($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  white-space: initial;
}

@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -ms-transform: rotate($degree);
  transform: rotate($degree);
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  font-size: 6px;
  line-height: 1;
  white-space: nowrap;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin bg-path($name, $path: $path, $format: 'svg') {
  background-image: url('#{$path}#{$name}.#{$format}');
}

// 미디어쿼리
@mixin mq-320 {
  @media screen and (min-width: 320px) and (max-width: 359px) {
    @content;
  }
}

@mixin mq-360 {
  @media screen and (min-width: 360px) and (max-width: 374px) {
    @content;
  }
}

@mixin mq-375 {
  @media screen and (min-width: 375px) and (max-width: 413px) {
    @content;
  }
}

@mixin mq-414 {
  @media screen and (min-width: 414px) {
    @content;
  }
}

@mixin mq-480 {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin mq-768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mq-1024 {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin mq-1200 {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin mq-1440 {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin mq-1920 {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

@mixin mq-2560 {
  @media screen and (min-width: 2560px) {
    @content;
  }
}
